{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Política de Privacidad</h2>
    
        <p>1.Compromiso con la Seguridad</p>
            <p>JTR se compromete a garantizar la seguridad de los datos personales de sus usuarios y a proteger su información contra el acceso no autorizado, pérdida, alteración o divulgación indebida. Implementamos medidas y prácticas de seguridad conformes a las normas y mejores prácticas de la industria.</p>
        <p>2.Protección de Datos Personales
            <p>JTR recopila y gestiona datos personales de manera responsable y de acuerdo con la normativa aplicable sobre protección de datos. Todos los datos de los usuarios serán tratados con la máxima confidencialidad y utilizados únicamente para los fines expresamente autorizados.</p>
        <p>3. Seguridad en las Transacciones en Línea
            <p>Para proteger las transacciones en línea, JTR utiliza cifrado SSL (Secure Socket Layer), lo que garantiza que todos los datos transmitidos entre el usuario y el sitio web estén protegidos. Esto incluye los datos de pago y cualquier otra información confidencial que el usuario proporcione durante el proceso de pedido o reserva.</p>
        <p>4. Control de Acceso y Autenticación
            <p>El acceso a la información sensible dentro de nuestros sistemas está limitado a personal autorizado y debidamente capacitado. Cada miembro del equipo cuenta con credenciales únicas, y el acceso a los sistemas está restringido por niveles de privilegios, según las responsabilidades y necesidades de cada rol.</p>
        <p>5. Almacenamiento y Retención de Datos
            <p>JTR almacena la información del usuario en sistemas seguros, y solo la retiene por el tiempo necesario para cumplir con los fines para los que fue recopilada o según lo exija la ley. Pasado este tiempo, los datos son eliminados de manera segura.</p>
        <p>6. Monitoreo y Detección de Amenazas
            <p>Contamos con sistemas de monitoreo de seguridad que identifican y previenen posibles amenazas en tiempo real. Las actividades en nuestra infraestructura se supervisan continuamente, y cualquier actividad sospechosa es investigada y resuelta de acuerdo con nuestros protocolos de seguridad.</p>
        <p>7. Gestión de Incidentes de Seguridad
            <p>En caso de detectar un incidente de seguridad que pueda comprometer la información de los usuarios, JTR actuará de inmediato para contener y remediar la situación. Nos comprometemos a notificar a los usuarios afectados y a las autoridades correspondientes cuando sea necesario, proporcionando detalles sobre las medidas tomadas para mitigar cualquier riesgo.</p>
        <p>8. Actualizaciones de Seguridad
            <p>JTR mantiene actualizados sus sistemas y herramientas para protegerse contra vulnerabilidades emergentes. Realizamos auditorías de seguridad periódicas y aplicamos parches y mejoras en cuanto se detectan riesgos potenciales.</p>
        <p>9. Concienciación y Capacitación del Personal
            <p>Todo el personal de JTR recibe capacitación regular en temas de seguridad y protección de datos. Esto asegura que cada miembro del equipo comprenda su rol y responsabilidad en la protección de la información de los usuarios y en el mantenimiento de un entorno seguro.</p>
        <p>10. Contacto para Incidencias de Seguridad
            <p>Si algún usuario detecta una posible vulnerabilidad o tiene preguntas sobre nuestras políticas de seguridad, puede ponerse en contacto con nuestro equipo de seguridad en [correo electrónico o teléfono de contacto].</p>

    
{% endblock %}
