<!-- soporte_cliente.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 style="text-align: center;">Soporte al Cliente</h2>
    <h2>¿Que metodos de pago existen?</h2>
    <p>Si tienes algún problema o pregunta, no dudes en contactar con nuestro equipo de soporte.</p>
    <h2>¿Se requiere hacer reservaciones?</h2>
    <p>Teléfono: +123 456 789</p>
    <h2>¿Tienen menu para niños?</h2>
    <p>Email: soporte@tusitio.com</p>
    <!-- Agrega más información de contacto o soporte que quieras mostrar -->
</div>
{% endblock %}
